@using DartLeague.Web.Areas.Manage.Models
@model SeasonManagementRootViewModel<List<SeasonLinkListViewModel>>
@{
    ViewData["Title"] = "Season Links";
}

@await Html.PartialAsync("_SeasonHeader")

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Season Links</h3>
                </div>
                <div class="panel-body">
                    <p><a class="btn btn-success btn-sm" asp-area="Manage" asp-controller="SeasonLink" asp-action="Create" title="Add Season Link"><i class="fa fa-plus-square"></i></a> <strong>Season Link</strong></p>
                    <p><i class="fa fa-asterisk" style="color: orangered;"></i> Nothing just yet.</p>
                </div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th style="text-align:center;">Type</th>
                            <th>Url</th>
                            <th style="text-align:center;">Order</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Data.Any())
                        {
                            <tr class="warning">
                                <td colspan="5">Currently No Season Links</td>
                            </tr>
                        }

                        @foreach (var seasonLink in Model.Data)
                        {
                            <tr>
                                <td><a asp-controller="SeasonLink" asp-action="Edit" asp-area="Manage" asp-route-id="@seasonLink.Id" title="Edit Season Link">@seasonLink.Title</a></td>
                                <td style="text-align:center;">@seasonLink.LinkType</td>
                                <td><a href="@seasonLink.Url">@seasonLink.Url</a></td>
                                <td style="text-align:center;">@seasonLink.Order</td>
                                <td style="text-align:center;"><a asp-controller="SeasonLink" asp-action="Delete" asp-area="Manage" asp-route-id="@seasonLink.Id" class="btn btn-link confirmation"><i class="fa fa-trash-o fa-lg"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        (function (d, $) {
            var elems = d.getElementsByClassName('confirmation');
            var confirmIt = function (e) {
                if (!confirm('Are you sure?')) e.preventDefault();
            };

            for (var i = 0, l = elems.length; i < l; i++) {
                elems[i].addEventListener('click', confirmIt, false);
            }

            $(d).ready(function () {
                function toggleEdit() {
                    if ($("#seasonTitle").hasClass("hidden")) {
                        $("#seasonTitle").removeClass("hidden");
                        $("#seasonEdit").addClass("hidden");
                    } else {
                        $("#seasonTitle").addClass("hidden");
                        $("#seasonEdit").removeClass("hidden");
                    }
                }

                $("#btnCancelEdit").on("click", toggleEdit);
                $("#btnEditSeason").on("click", toggleEdit);
            });
        })(document, jQuery);
    </script>
}