@using DartLeague.Web.Areas.Manage.Controllers
@model List<DartLeague.Web.Areas.Manage.Models.SeasonListViewModel>
@{
    ViewData["Title"] = "Manage Seasons";
}

@await Html.PartialAsync("_ManagementHeader")

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <p>Only one season can be active at a time.</p>
                    <p><a class="btn btn-success btn-sm" asp-area="Manage" asp-controller="Season" asp-action="Create" title="Add Season"><i class="fa fa-plus-square"></i></a> <strong>Season</strong></p>
                    <p><i class="fa fa-asterisk" style="color: orangered;"></i> Demo Sample.</p>
                </div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 150px;"></th>
                            <th>Name</th>
                            <th></th>
                            <th style="text-align: center;">Start</th>
                            <th style="text-align: center;">End</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Any())
                        {
                            <tr>
                                <td colspan="4">Currently No Seasons</td>
                            </tr>
                        }

                        @foreach (var season in Model)
                        {
                            <tr>
                                <td nowwrap="nowrap">
                                    <div class="btn-group">
                                        <a class="btn btn-default" asp-area="Manage" asp-controller="Season" asp-action="Index" asp-route-id="@season.Id">Edit</a>
                                    </div>
                                </td>
                                <td><a asp-controller="LeagueLink" asp-action="Index" asp-area="Manage" asp-route-id="@season.Id" title="Edit Link">@season.Name</a></td>
                                <td style="text-align: center;">
                                    @if (season.EndDate < DateTime.Now.Date)
                                    {
                                        <span class="label label-danger">Done</span>
                                    } else if (season.StartDate < DateTime.Now.Date && season.EndDate > DateTime.Now.Date)
                                    {
                                        <span class="label label-success">Started</span>
                                    } else if (season.StartDate > DateTime.Now.Date)
                                    {
                                        <span class="label label-warning">Waiting</span>
                                    }

                                </td>
                                <td style="text-align: center;">@season.StartDate.ToString("d")</td>
                                <td style="text-align: center;">@season.EndDate.ToString("d")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var elems = document.getElementsByClassName('confirmation');
                                            var confirmIt = function (e) {
                                                if (!confirm('Are you sure?')) e.preventDefault();
                                            };
        for (var i = 0, l = elems.length; i < l; i++) {
                                                elems[i].addEventListener('click', confirmIt, false);
                                            }
    </script>
}