@using Microsoft.AspNetCore.Authentication.Cookies
@{

    ViewData["Title"] = "Home Page";
}

<div class="page-header">
    <h1 class="text-center">Welcome to The Greater Trenton Dart League</h1>
    <div class="important-message">
        @await Component.InvokeAsync("ImportantMessage")
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-7 col-md-8">
            @await Component.InvokeAsync("EventTitle")
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!-- Activities-->
                    @await Component.InvokeAsync("Activities")
                </div>
                <div class="col-md-6 col-sm-6">
                    <!-- Luck of the Draws-->
                    @await Component.InvokeAsync("Lod")
                </div>
            </div>
            @await Component.InvokeAsync("EventList")
        </div>
        <div class="col-sm-5 col-md-4">
            Winter Standings
            @*@include('season.winter.standings')*@
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-success text-center">
                <h4>Interesting <a href="http://www.si.com/vault/1975/02/17/557875/eight-feet-away-from-glory" target="_blank"> Sports Illustrated article</a> on darts from 1975.  Our own Conrad Daniels is a key part!</h4>
                <p>
                    <a href="/documents/static/conrad_outs.pdf" target="_blank">Conrad Daniels Out Shots </a>
                </p>
            </div>
        </div>
    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome back @User.Identity.Name</h1>
    <h2>User Claims</h2>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

    if (!String.IsNullOrWhiteSpace(CookieAuthenticationDefaults.AuthenticationScheme))
    {
        <h2>Cookies Properties</h2>
        <dl>
            @{
                var props = (await Context.AuthenticateAsync()).Properties;
            }
            @foreach (var item in props.Items)
            {
                <dt>@item.Key</dt>
                <dd>@item.Value</dd>
            }
        </dl>
    }
}
