
@{
    ViewData["Title"] = "Index";
}
@model DartLeague.Web.Areas.Site.Models.EventResultsListViewModel

<h2>Dart Event Results</h2>
<div><b>@Model.DartEventName</b> - @Model.DartEventDate</div>
<div class="table-responsive">
    <form asp-controller="EventResult" asp-action="Index" method="post">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="width: 84px;"></th>
                    <th>Specific Event Name</th>
                    <th>Player Name</th>
                    <th>Finished</th>
                    <th width="5px"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Results == null || !Model.Results.Any())
            {
                    <tr class="warning"><td colspan="5">Currently No Event Results</td></tr>
                }
                else
                {
                    foreach (var result in Model.Results)
                    {
                        <tr class="@Model.IsTitleEvent?'success':''">
                            <td></td>
                            <td style="vertical-align: middle">@result.SpecificEventName</td>
                            <td style="vertical-align: middle">@result.MemberName</td>
                            <td style="vertical-align: middle">@result.Finished</td>
                            <td><a class="btn btn-link confirmation" asp-area="Site" asp-controller="EventResult" asp-action="Delete" asp-route-id="@result.Id" title="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
                        </tr>
                    }
                }
                <tr>
                    <td></td>
                    <td><input class="form-control" asp-for="SpecificEventName" /></td>
                    <td><select class="form-control" asp-for="MemberId" asp-items="ViewBag.Members"></select></td>
                    <td><input class="form-control" asp-for="Finished" /></td>
                    <td><button type="submit" class="btn btn-default"><i class="fa fa-floppy-o fa-lg"></i> Add</button></td>
                </tr>
            </tbody>
        </table>
        </form>
        <a asp-area="Site" asp-controller="DartEvent" asp-action="Index" class="btn btn-default">Back</a>
</div>

@section Scripts{
<script>
        (function(d){
            d.getElementsByName('specificEventName')[0].focus();
        })(document);
</script>
}